fastapi
fastapi-users[tortoise-orm]
uvicorn
tortoise-orm
aiosqlite
aiofiles
jinja2
python-multipart
typesystem
httpx
httpx-oauth
requests
python-dotenv
pandas
redis
stackprinter
structlog
colorama
pytest-asyncio
ujson
python-rapidjson
websockets
snakeviz
aioredis
# TA-Lib